<header hidden class="display-child-on-hover">
    <h1>Ian Bradley</h1>
    <span class="logo-1"></span>
    <span class="logo-2"></span>
    <p>Developer, history enthusiast, avid Tolkien and Dune fan, enjoyer of rain, and lover of Factorio. Here are some projects that may be complete.</p>
    <span class="display-child transition">
        <a href="/images/dogs/dog_1.jpeg" target="_blank" class="dog">This site </a>
        <a href="/images/dogs/dog_2.jpeg" target="_blank" class="dog">was not </a>
        <a href="/images/dogs/dog_3.jpg" target="_blank" class="dog">coded by </a>
        <a href="/images/dogs/dog_4.jpg" target="_blank" class="dog">dogs. </a>
        <a href="/images/dogs/dog_5.jpg" target="_blank" class="blended-link">I promise.</a> 
    </span>
</header>