<header class="display-child-on-hover">
    <h1>Ian Bradley</h1>
    <p>Developer, history enthusiast, avid Tolkien fan, enjoyer of rain. Here are some project to pick your brain.</p>
    <span class="display-child transition">
        <a href="/images/dogs/dog_1.jpeg" target="_blank" class="dog-1">This site </a>
        <a href="/images/dogs/dog_2.jpeg" target="_blank" class="dog-2">was not </a>
        <a href="/images/dogs/dog_3.jpg" target="_blank" class="dog-3">coded by </a>
        <a href="/images/dogs/dog_4.jpg" target="_blank" class="dog-4">dogs. </a>
        <a href="/images/dogs/dog_5.jpg" target="_blank" class="blended-link">I promise.</a> 
    </span>
</header>