<nav>
    <ul hidden class="nav-list">
        <li class="nav-item active">Home</li>
        <li class="nav-item">Chat</li>
        <li class="nav-item">Dune</li>
        <li class="nav-item">Rain</li>
        <li class="nav-item">Cliq-it</li>
        <li class="nav-item">Sorting</li>
        <li class="nav-item ext-link"><a href="/codenames">Codenames</a></li>
    </ul>
</nav>