<div class="transition bg-center bg-dune bg-dune-1"></div>
<div class="transition bg-center bg-dune bg-dune-2"></div>
<div class="transition bg-center bg-dune bg-dune-3"></div>
<div class="transition bg-center bg-dune bg-dune-4"></div>
<div>
    DUNE
</div>